* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1;
}

@font-face {
    font-family: font1;
    src: url(./PitagonSansTextwght-BF641cfc39903a4.ttf);
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: var(--black-color);
}

:root {
    --gray-bold: #7A8799;
    --gray-color: #c5cbd4;
    --black-color: #1D1D1D;
    --white: #ffffff;
    --gray-light: #BBC2cc;
    --rounded: 20px;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(180deg, var(--gray-bold),
            var(--gray-color));
    font-family: font1;

    & main {
        padding: 2vw 5vw;
    }
}

.block {
    display: block !important;
    height: fit-content;
}

main {
    #crsr {
        position: fixed;
        width: 80px;
        translate: -50% -50% !important;
        height: 80px;
        background-color: var(--gray-light);
        border-radius: 50%;
        z-index: 21;
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        font-size: 14px;
        color: #fff;
        top: 0;
    }

    & header nav {
        display: flex;
        align-items: center;
        gap: 20px;

        & .main-header-container {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        & .header-content {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        & .categories {
            display: flex;
            align-items: center;
            gap: 10px;

            & a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                color: var(--white);
                font-size: 26px;
                background-color: var(--gray-color);
                transition: 0.3s all ease-in-out;

                &:hover {
                    background-color: var(--gray-light);
                    box-shadow: 0 3px 10px 2px var(--gray-color);
                }
            }
        }

        & .person {
            display: flex;
            align-items: center;
            gap: 1.6vw;

            & #per_info {
                & h5 {
                    font-size: 16px;
                    color: var(--white);
                    white-space: nowrap;
                    font-weight: 400;
                }

                & span {
                    display: block;
                    width: fit-content;
                    padding: 10px 15px;
                    font-size: 14px;
                    background: #929EAC;
                    color: white;
                    margin-top: 5px;
                    border-radius: 20px;
                }

                display: flex;
                flex-direction: column;
            }

            & a {
                width: 50px;
                height: 50px;
                position: relative;
                display: block;

                & img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
        }

        & #input {
            display: flex;
            align-items: center;
            gap: 20px;
            position: relative;

            & #search_bar {
                position: relative;
            }

            & input {
                background-color: var(--gray-light);
                max-width: 100%;
                padding: 15px 20px;
                outline: none;
                border-radius: 40px;
                font-size: 16px;
                border: none;
                color: var(--white);
                padding-left: 55px;

                &::placeholder {
                    color: var(--white);
                }
            }

            & #search_bar {
                position: absolute;
                width: 40px;
                height: 100%;
                border-top-left-radius: 50%;
                background-color: var(--gray-light);
                color: white;
                border-bottom-left-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 22px;
                left: 5px;
            }
        }

        & .header-last-part {
            display: flex;
            align-items: center;
            gap: 15px;

            & span {
                position: relative;
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 30px;
                color: #fff;
                cursor: pointer;

                &::after {
                    position: absolute;
                }
            }

            & span:first-child::after {
                content: "â¤";
                font-size: 15px;
                right: 3px;
                bottom: -2px;
            }

            & span:last-child::after {
                position: absolute;
                content: '';
                width: 7px;
                height: 7px;
                border-radius: 50%;
                background-color: red;
                right: 6px;
                top: 11px;
                border: 2px solid #fff;
            }
        }
    }

    & #landing {
        color: var(--white);
        display: flex;
        justify-content: space-between;

        & #landing-part1 {
            padding-top: 60px;

            & #content1 h6 {
                display: flex;
                gap: 5px;
                flex-wrap: wrap;

                & span {
                    display: block;
                }
            }

            width: 70%;
            justify-content: space-between;

            & div:nth-child(2) h2 {
                font-weight: 300;
                font-size: 7.7vw;
                line-height: 1;
                margin: 10px 0;
                margin-bottom: 25px;
            }

            & #first {
                display: flex;

                & h3 {
                    font-weight: 400;
                }

                & h6 {
                    color: var(--gray-color);
                    line-height: 1.3;
                    font-size: 18px;
                    text-wrap: balance;
                    font-weight: 400;
                    text-transform: lowercase;

                }

                & div {
                    flex: 1;
                }

                & div:last-child {
                    display: flex;
                    gap: 3vw;
                }
            }

            & #thrd {
                display: flex;

                &>section {
                    display: flex;
                    gap: 1.7vw;
                    color: var(--gray-color);

                    & span {
                        font-size: 20px;
                        display: flex;
                        align-items: flex-start;
                    }
                }

                & h2 {
                    display: flex;
                    justify-content: flex-end;
                    font-size: 7vw;
                    font-weight: 300;
                    line-height: 1;
                }

                & h3 {
                    line-height: 1.4;
                    font-size: 16px;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 5px;
                }

                &>* {
                    flex: 1;
                }

            }
        }

        & #landing-part2 {
            margin-top: 40px;
            width: 25%;
            padding: 15px;

            border-radius: 20px;
            border: 2px solid var(--white);

            #offers {
                display: flex;
                flex-direction: column;
                gap: 15px;
                margin-top: 15px;

                & #offer {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    width: 100%;

                    & #details {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        gap: 5px;

                        & section span {
                            font-size: 14px;
                            margin-top: 4px;
                            display: block;
                            color: var(--gray-color);
                        }

                        & #price {
                            padding: 10px 15px;
                            background: #c5cbd4;
                            border-radius: 20px;
                            font-size: 14px;
                            color: #fff;
                        }
                    }

                    & #image {
                        min-width: 50px;
                        min-height: 50px;
                        background: #E8E8E7;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 12px;
                        color: #bbb;
                        font-size: 26px;
                    }
                }
            }

            & #explain {
                display: flex;
                flex-direction: column;
                gap: 5px;

                & span {
                    font-size: 14px;
                    line-height: 1;
                    color: var(--gray-color);
                }
            }
        }
    }

    #final-section {
        display: flex;
        margin-top: 25px;
        gap: 40px;

        & #products {
            & h3 {
                color: #fff;
                font-size: 30px;
                font-weight: 400;
                margin-bottom: 15px;
            }

            & #wrapper {
                display: flex;
                gap: 10px;

                & #settings {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    margin: 10px 0;

                    #settings_item {
                        padding: 25px 5px;

                        & h4 {
                            margin-bottom: 5px;
                            text-align: center;
                            font-size: 20px;
                            font-weight: 900;
                        }

                        & span {
                            text-align: center;
                            color: var(--gray-bold);
                            font-size: 14px;
                        }
                    }

                    & #settings_item+span {
                        display: block;
                        width: 90%;
                        height: 55px;
                        background-image: radial-gradient(var(--gray-color), var(--gray-light), var(--gray-bold));
                        margin-left: 5%;
                        margin-top: 30px;
                        border-radius: 50%;
                    }

                    & div:nth-child(2) #settings_item+span {
                        margin-top: -20px;
                    }

                    & div {
                        height: 50%;
                        background-color: var(--white);
                        border-radius: 25px;
                    }
                }


            }

            & section {
                padding: 30px 20px;
                background: white;
                margin: 10px 0;
                border-radius: 40px;
                background-image: url(./mediamodifier-zTY9OwAfOrg-unsplash-removebg-preview.png);
                background-size: 80%;
                background-repeat: no-repeat;
                background-position: 200%;
                object-fit: cover;

                & h4 {
                    font-size: 22px;
                    margin-bottom: 10px;
                }

                & span {
                    margin-top: 50px;
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    gap: 10px;
                    padding: 7px 15px;
                    background-color: var(--black-color);
                    width: fit-content;
                    color: #fff;
                    border-radius: 20px;
                    cursor: pointer;
                    transition: 0.3s all ease-out;

                    &:hover {
                        background-color: #000;
                    }

                    & img {
                        width: 20px;
                    }
                }
            }

            /* & div div {
                background-color: var(--white);
            } */
        }

        & div:first-child {
            flex: 1.5;
        }

        & #dashboard {
            flex: 3;

            & h3 {
                color: var(--white);
                font-size: 22px;
                font-weight: bold;
            }

            & #chart {
                position: relative;
                padding: 20px 30px;
                background-color: var(--white);
                border-radius: var(--rounded);
                HEIGHT: 60vh;
                margin-top: 20px;
                overflow: hidden;

                & #chart_head {
                    display: flex;
                    justify-content: space-between;
                    gap: 15px;
                    flex-wrap: wrap;

                    &>div {
                        display: flex;
                        gap: 20px;
                        font-weight: bold;



                        & #first_el,
                        & #secound_el {
                            position: relative;

                            padding-left: 25px;
                            display: flex;
                            gap: 10px;
                            align-items: center;

                            &::after {
                                position: absolute;
                                width: 10px;
                                height: 10px;
                                border-radius: 50%;
                                content: '';
                                left: 0;
                            }

                            & span {
                                font-size: 14px;
                                color: #bbb;
                            }



                            & h3 {
                                font-weight: bold;
                                color: var(--black-color);
                            }
                        }

                        & #first_el::after {
                            background-color: var(--black-color);
                        }

                        & #secound_el:after {
                            background-color: #D0D3D8;
                        }

                    }
                }

                & #chart_body {
                    height: 90%;
                    gap: 15px;
                    display: flex;

                    & .prec {
                        flex: 1;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        width: fit-content;
                        padding: 20px 0;
                        margin-top: 20px;
                        color: #bbb;
                        font-size: 14px;
                        justify-content: space-between;
                    }

                    & .result {
                        display: flex;
                        gap: 20px;
                        flex: 5;
                        align-items: flex-end;

                        & #res {
                            position: relative;
                            height: 80%;
                            border-radius: 33px;
                            background-color: var(--gray-color);
                            flex: 0.7;

                            &::after {
                                content: '';
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                border-radius: var(--rounded);
                                background: var(--black-color);
                                left: 0;
                                z-index: 22;
                                top: 0;
                            }

                            & span {
                                position: absolute;
                                z-index: 111;
                                bottom: -30px;
                                content: 'asdasd';
                                color: var(--gray-bold) !important;
                                left: 50%;
                                translate: -50% 0;
                            }

                            &.active {
                                background-color: var(--black-color);
                            }
                        }
                    }
                }

                & #month {
                    gap: 5px !important;
                    align-items: center;

                    & span {
                        font-size: 22px;
                    }
                }
            }
        }
    }
}

@media (width<850px) {
    #final-section {
        flex-direction: column !important;

        & #products section {
            flex: unset !important;
        }
    }

    header nav {
        justify-content: space-between;

        & .main-header-container {
            justify-content: flex-end !important;
        }


        & .header-content {
            display: none !important;
        }


    }
}

@media (width<992px) {
    #landing {
        flex-direction: column;

        & #landing-part1 {
            width: 100% !important;

            & #first {
                & div:first-child {
                    display: none;
                }

                width:70vw;
                margin-left: auto;

                & div:last-child h6 {
                    text-wrap: unset !important;
                }
            }

            & #thrd {
                flex-direction: column !important;
                gap: 3vw;
            }
        }

        & #landing-part2 {
            width: 100% !important;
            margin: 20px auto;
        }
    }
}